<h1>登入</h1>
<%= form_tag login_path do %>
    <div>
        <%= label_tag :email, 'email:' %>
        <%= text_field_tag :email, params[:email] %>
    </div>
    <div>
        <%= label_tag :password, '密碼:' %>
        <%= password_field_tag :password, params[:password] %>
    </div>
    <div>
        <%= submit_tag "登入" %>
    </div>
<% end %>
